html,
body {
	height: 100%;
}

body {
	background-color: rgb(165, 142, 14);
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
}

tr,
th,
td {
	border: 3px black solid;
	padding: 10px;
}

td {
	/* max-width: 70px; */
}
