html,
body {
	height: 100%;
	background-color: rgb(165, 142, 14);
}

body {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
}

tr,
th,
td {
	border: 3px black solid;
	padding: 10px;
}

td {
	/* max-width: 70px; */
}

.prompt2header {
	font-weight: bold;
}

p {
	text-align: center;
}
